#title {
  max-height: 70px;
}
#calendar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.begin-time {
  color: rgba(0, 0, 0, 0.5);
}
.end-time {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0; right: 0; left: 0;
}
#login {
  position: absolute;
  top: 0;
  right: 0;
}
#login-btn-wrap {
  padding: 5px;
}
